/* ------------ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
/* header */
header{
  background-color: #dd3232;
  height: 40rem;
}

header .arrow{
  color: aliceblue;
}

header p{
  color: aliceblue;
  font-weight: bold;
  font-family: monospace;
}


header img{
  border-radius: 20%;
}

header h1{
  font-size: 6rem;
  font-family: monospace;
}

/* ------------ */
body {
  font-family: monospace;
  height: 140%;
  display: grid;
  /*grid-auto-rows: auto;*/
  grid-template-rows: minmax(40rem, auto)  auto;
}

main{
  background-color: black;
  grid-row: 2 / 3;
  height: 100%;
}

h1 {
  width: 100%;
  margin-bottom: 40px;
}
/* ------------ */
.container {
  height: 100%;
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
  padding: 2%;
  
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
/* ------------ */
.row{
  padding: 2%;
  font-family: monospace;
  color: aliceblue;
  border-radius: 10%;
}


#jokes-form .container .row{
  border: 2px solid rgb(245, 242, 238);
  margin: 2%;
}

.col-4{
  color: #dd3232;
  font-size: 1.2rem;
}

.col-8{
  font-size: 1.1rem;
}


/* category row */
.describe{
  background-color: antiquewhite;
}

/* .describe-title{
  font-size: 1.1rem;
} */

/* .form-select{
  height: 4rem;
  width: 12rem;
} */

/* blacklist row */
.blacklist{
  display: flex;
  align-items: baseline;
}

/* .blacklist-title p{
  margin-right: 20px;
  background-color: aqua;
  font-size: 1.1rem;
} */

.bi-sign-stop{
  color: #dd3232;
  height: 3rem;
  width: 3rem;
}


/* search content */
/* .search{
  width: 80%;
  height: 80%;
  background-color: #dd3232;
} */
.search-title span{
  font-size: 1.1rem;
}

.search-content ::placeholder{
  font-size: 1.1rem;
}


/* safe mode */
#flexSwitchCheckDefault{
  height: 2rem;
  width: 2rem;
}

.safe-mode{
  display: flex;
}

.safe-content input{
  margin-left: 5%;
}

.form {
  width: 100%;
  /* display: grid;
  grid-template-columns: 1fr 1fr 80px;
  grid-column-gap: 10px; */
}
.form-submit {
  outline: none;
  border: 1px solid rgb(232, 232, 232);
  background-color: rgb(242, 20, 20);
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
  font-size: 2rem;
  line-height: 36px;
  padding: 1%;
  justify-content: center;
  margin-left: 30%;
  margin-bottom: 3%;
}
.form-submit:focus {
  box-shadow: 0 0 0 0.5px rgb(153, 153, 153);
}
.cards {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 100%;
}
.card-item {
  width: 100%;
  padding: 5px 20px 20px;
  border: 1px solid rgb(232, 232, 232);
  background-color: rgb(202, 15, 15);
  border-radius: 5px;
}
.card-info {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.card-activity {
  line-height: 1.2;
  margin-top: 10px;
  color: aliceblue;
}
.tag-error {
  width: 100%;
  text-align: center;
  color: aliceblue;
}

/* .multiselect{
  background-color: #dd3232;
} */
/* ------------ */
.is-element-hidden {
  display: none;
}
/* ------------ */
@media (max-width: 620px) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
  }
  .form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
